site_name: MadeForAI
site_description: The definitive guide to Generative AI engineering. From prompt engineering basics to scalable architecture optimization for enterprise.
site_author: MadeForAI Team
site_url: https://madeforai.github.io/madeforai

repo_name: madeforai/madeforai
repo_url: https://github.com/madeforai/madeforai
edit_uri: edit/main/docs/

copyright: Copyright &copy; 2026 MadeForAI Inc.

theme:
  name: material
  custom_dir: overrides
  language: en
  
  palette:
    # Light mode (Premium default) - Matching Homepage
    - scheme: default
      primary: black
      accent: indigo
  
  font:
    text: Inter
    code: JetBrains Mono

  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  
  icon:
    repo: fontawesome/brands/github
    logo: material/robot-excited
    admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/madeforai
      name: MadeForAI on GitHub
    - icon: fontawesome/brands/discord
      link: https://discord.gg/madeforai
      name: Join our Discord
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/madeforai
      name: Follow us on X
  
  analytics:
    provider: google
    property: G-XXXXXXXXXX
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/thumb-up-outline
          name: This page was helpful
          data: 1
          note: Thanks for your feedback!
        - icon: material/thumb-down-outline
          name: This page could be improved
          data: 0
          note: Thanks for your feedback! Help us improve by using our feedback form.
  
  version:
    provider: mike
    default: latest

extra_css:
  - stylesheets/css/extra.css
  - stylesheets/css/custom.css
  - stylesheets/notebook-enhanced.css
  - stylesheets/css/page-loader.css

extra_javascript:
  - stylesheets/js/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js?defer
  - javascripts/navbar-enhancer.js?defer
  - javascripts/page-layout-enhancer.js?defer
  - javascripts/notebook-enhanced.js?defer
  - javascripts/sidebar-enhancer.js?defer
  - javascripts/page-loader.js?defer

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      permalink_title: Anchor link to this section
      toc_depth: 2
  
  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - mkdocs-jupyter:
      include_source: True
      execute: False
      allow_errors: false
      ignore_h1_titles: False
      show_input: True
      include_requirejs: True
      theme: light
      remove_tag_config:
        remove_cell_tags:
          - remove_cell
        remove_all_outputs_tags:
          - remove_output
        remove_input_tags:
          - remove_input
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
      exclude:
        - index.md
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
        remove_comments: true
      cache_safe: true
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom

nav:
  - MadeforAI: index.md
  - Understanding AI:
      - paths/understanding-ai/index.md
      - Foundations:
          - Introduction to AI, ML & Deep Learning: paths/understanding-ai/1-foundations/chapter-1-ai-ml-intro.ipynb
          - Your First Neural Network: paths/understanding-ai/1-foundations/chapter-2-first-neural-network.ipynb
  - Engineering AI:
      - paths/engineering-ai/index.md
      - Transformer Architecture: paths/engineering-ai/01-transformer-architecture.ipynb
  - Researching AI:
      - paths/researching-ai/index.md
  - Architecting AI:
      - paths/architecting-ai/index.md
  - Business AI:
      - paths/business-ai/index.md
  - Community: community/index.md
  - About: about/index.md
  - Contributing: contributing/index.md

hooks:
  - docs/hooks/notebook_enhancer.py
  - docs/hooks/path_generator.py